{% load static %}
<html lang="pt-br">
<body>
  
  {% include "modulos/head.html" %}
  {% include "modulos/sidebar.html" %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {% block content %}{% endblock content %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script src="{% static 'js/inicio.js' %}"></script>
  
  <script src="{% static "js/dashboard.js" %}"></script>

</body>