/* Estilos básicos para o layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.user-card {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.user-info {
    flex: 1;
    font-size: 16px;
    color: #333;
}

.user-info p {
    margin-bottom: 10px;
}

.user-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.user-actions .btn-edit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.user-actions .btn-edit:hover {
    background-color: #45a049;
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #0056b3;
}
