{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="form-container">
        <h2 class="form-title">Editar Produtor</h2>

        <!-- Exibir mensagens de erro ou sucesso -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <script src="{% static 'js/delay_error.js' %}"></script>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome do Produtor:</label>
                <input type="text" id="nome" name="nome" class="form-control input-large" value="{{ nome|default:produtor.nome }}">

                <label for="fazenda">Fazenda:</label>
                <input type="text" id="fazenda" name="fazenda" class="form-control input-large" value="{{ fazenda|default:produtor.fazenda }}">

                <label for="localizacao">Localização:</label>
                <input type="text" id="localizacao" name="localizacao" class="form-control input-large" value="{{ localizacao|default:produtor.localizacao }}">

                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" class="form-control input-large" value="{{ telefone|default:produtor.telefone }}">
            </div>
            <button type="submit" class="btn-submit">Salvar Alterações</button>
        </form>
    </div>
{% endblock %}
