{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
      <h2 class="title">Lista de Produtos</h2>
      
      {% if produtos %}
        <table class="table">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>R${{ produto.valor }}</td>
                    <td>
                      <a href="{% url 'editar_produto' produto.id %}">
                        <i class="bi bi-pencil"></i> <!-- Ícone de edição -->
                      </a>
                        <a href="{% url 'excluir_produto' produto.id %}" onclick="return confirm('Tem certeza que deseja excluir?')">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}

          </tbody>
        </table>
      {% else %}
        <p class="no-products">Nenhum produto cadastrado ainda.</p>
      {% endif %}
      
      <a href="{% url 'cadastrar_produto' %}" class="btn btn-add">+ Adicionar Produto</a>
  </div>
{% endblock %}
